<html>
<head>
  <title>Mentorship</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
  <div class="ui grid">
    <div class="seven wide column centered">
      <h1>Trending Notes</h1>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec malesuada, purus hendrerit fringilla auctor, dui ex
        congue turpis, a tempus dui neque non ante.
      </h4>
    </div>
  </div>
  <div class="ui three column centered grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src="/images/CS32.png">
        </div>
        <div class="content">
          <a class="header">Midterm Study Guide</a>
          <div class="meta">
            <span class="date">Austin Lee</span>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
          </div>
          <div class="extra content">
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src="/images/CS111.png">
        </div>
        <div class="content">
          <a class="header">Week 1 Notes</a>
          <div class="meta">
            <span class="date">Helen Lee</span>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
          </div>
          <div class="extra content">
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src="/images/CS32.png">
        </div>
        <div class="content">
          <a class="header">Final Cheat Sheet</a>
          <div class="meta">
            <span class="date">Charlotte McGinn</span>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
          </div>
          <div class="extra content">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
