<div class="homepage-content" style="background-image: url(/assets/actionshot2.jpg)">

	<div class="content-inner content-left">
		<%= image_tag("logo-white-lg.png", class: "logo" )%>
		<h2>Practice Skills.</h2>
		<h2>Message Mentors.</h2>
		<% if !user_signed_in? %>
			<div class="btn-main sign-up sign-up-trigger-modal">SIGN UP NOW</div>
		<% end %>
	</div>
	<div class="content-inner content-right mobile-hidden">
		<a href="/notes">
		<%= image_tag("homepage-graphic.png", class: "homepage-graphic" )%>
		</a>
	</div>

</div>

