<html lang="en">
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />

    <script src="https://use.fontawesome.com/eb20c96418.js"></script>

  </head>
  <body>

    <!-- Header -->
  

    <!-- Yellow Box -->
    <div class="ui center aligned padded grid, grid yellow background">
      <div class="sixteen wide column">
        <div class="ui centered image">
          <%= image_tag("bridge.png") %>
        </div>
      </div>
    </div>

    <!-- Blue Box -->
    <div class="ui padded grid, grid blue background">
      <div class="seven wide column centered main-block-text">
        <h1>Trending Notes</h1>
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec malesuada, purus hendrerit fringilla auctor, dui ex
          congue turpis, a tempus dui neque non ante.
        </h4>
      </div>
    </div>
    <div class="ui padded three column centered grid, grid blue background">
      <div class="four wide column">
        <div class="ui card">
          <div class="image">
            <img src="/images/CS32.png">
          </div>
          <div class="content">
            <a class="header">Midterm Study Guide</a>
            <div class="meta">
              <span class="date">Austin Lee</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
            </div>
            <div class="extra content">
            </div>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui card">
          <div class="image">
            <img src="/images/CS111.png">
          </div>
          <div class="content">
            <a class="header">Week 1 Notes</a>
            <div class="meta">
              <span class="date">Helen Lee</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
            </div>
            <div class="extra content">
            </div>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui card">
          <div class="image">
            <img src="/images/CS32.png">
          </div>
          <div class="content">
            <a class="header">Final Cheat Sheet</a>
            <div class="meta">
              <span class="date">Charlotte McGinn</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
            </div>
            <div class="extra content">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="ui center aligned padded stackable grid">
        <div class="row">
          <div class="column">
            <a id="link"><i class="chevron up icon" style=" font-size: 48px;color: #999"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <h2>THANK YOU</h2>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <h3>for visiting us today</h3>
          </div>
        </div>
        <div class="row">
          <div class="five wide column">
            <h5>Support our Community</h5>
            <h6>Want to contribute to the platform as a tutor? We are always looking to recruit more individuals!</h6>
            <button class="ui button">SIGN UP NOW</button>
          </div>
          <div class="two wide column">
            <div class="ui vertical divider">or</div>
          </div>
          <div class="five wide column">
            <h5>Grow our Community</h5>
            <h6>Have class notes form past quarters? Submit them into our database, and help us grow our platform.</h6>
            <button class="ui button">SUBMIT</button>
          </div>
        </div>
       </div>
    </footer>


  </body>
</html>
