// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/global";
@import "semantic-ui";
@import "slick";

body{
  margin: 0px;
}

footer {
	padding-top: 20px;
	padding-bottom: -25px;
	color: $color-tertiary-dark;
}

.date{
  color:black;
}

h1{
  font-family: $type-main;
  text-align: center;
  color: $color-tertiary-dark;
  padding-top: 35px;
  letter-spacing: .05em;
  font-size: 48px;
}

h4{
  color: $color-tertiary-dark;
  font-family: $type-main;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
  padding-bottom: 5px;
  font-size: 24px;
}

p {
	font-family: $type-main;
	font-size: 18px;
}

.dark-title {
  font-family: $type-main;
  text-align: center;
  color: $color-tertiary-dark;
  letter-spacing: .05em;
  font-size: 48px;
}

.dark-secondary {
  color: $color-tertiary-dark;
  font-family: $type-main;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
  font-size: 24px;
  margin-bottom: 40px !important;
}

.dark-secondary.uppercase {
  text-transform:uppercase;
  margin-bottom: 20px !important;
}

.dark-subheader {
  color: $color-tertiary-dark;
  font-family: $type-main;
  text-align: center;
  letter-spacing: .05em;
  font-size: 24px;
  padding-bottom: 15px;
  line-height: 120%;
}


.dark-small-secondary {
  color: $color-tertiary-dark;
  font-family: $type-main;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
  font-size: 16px;
  line-height:130%;
  padding-bottom: 15px;

}

.container {
  overflow: scroll;
  padding-top: 1px;
  margin-top: -1px;
}

.slide{
  height: calc(100vh - #{$nav-height});
}

.main-block-text > *{
  color: white;
}

.button.padding {
	padding: 20px;
	text-align: left;
}

.ui.centered.image{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.open_nav{
  z-index: 2;
}

#grid-float{
  opacity: 1;
  position: relative !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: opacity $transition-duration $transition-ease;
}

#grid-float.hide{
  opacity: 0;
}

.ui.raised.horizontal.segments{
  outline: none !important;
  border-radius: 10px;
  text-align:left;
  color: $color-tertiary-dark;
  display: flex;
}

.wide.segment{
  min-width: 300px;
  max-width: 300px;
}

#bar-position{
  position: absolute !important;
  top: 0 !important;
  transform: translateY(-50%) !important;
}

#stacked-padding{
  padding-bottom:50px;
}

/* NOTES SECTION */
.notes{
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #007cb1;
}

.notes-header h1{
  font-size: 6.5vh;
  color: #ffffff;
}
.notes-header h4{
  font-size: 3vh;
  color: #ffffff;
  font-weight: 500;
}

/* NOTES CARDS */
.ui.card.note:first-child{
  outline: none;
  margin: 1em 0em;
  margin-left: 15px;
  margin-right: 15px;
}

.ui.card.note{
  outline: none;
  margin-left: 15px;
  margin-right: 15px;
  max-height: inherit;
  object-fit: contain;
}
.title{
  font-size: 22px;
  font-weight: bold;
  font-family: $type-main;
  color:  #474747;
  margin-bottom: 5px;
  outline: none;
}
/*
.title:hover{
  color: #55abe3;
}
*/
/* TUTORIAL SECTION */
.tutorials-header h1{
  font-size: 6.5vh;
  color: #ffffff;
}
.tutorials-header h4{
  font-size: 3vh;
  color: #ffffff;
  font-weight: 500;
}
.tutorials{
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #8b96da;
}

/* TUTORIAL CARDS */
.ui.card.tut:first-child{
  margin: 1em 0em;
  margin-left: 15px;
  margin-right: 15px;
}

.ui.card.tut{
  margin-left: 15px;
  margin-right: 15px;
  max-height: inherit;
  object-fit: contain;
}

/* CAROUSEL BUTTONS */

.icon.chevron{
  color: white;
}
.button{
  background-color: transparent;
  border: 0px transparent;
  outline: none;
}
.button_wrapper{
  margin-top: 100%;
}
/* AUTHOR */
.meta{
  font-family: Lato;
  font-size: 13px;
  font-weight: 500;
  color: #474747;
}

/* TAGS */
.ui.label{
  margin-top: 5px;
  outline: none;
}

/* HEARTS */
/* Active Heart */
.ui.heart.rating .active.icon {
  background: transparent !important;
  color: $color-primary !important;
  text-shadow: none !important;
}

.ui.primary.button{
  margin-top: 12px;
}

/* Selected Heart */
.notes .ui.heart.rating .icon.selected,
.notes .ui.heart.rating .icon.selected.active {
  background: transparent !important;
  color: $color-primary !important;
  text-shadow: none !important;
}

.notes .upvotes{
  color: $color-primary;
}
.tutorials .upvotes{
  color: $color-primary;
}

// Number of likes
.value{
  float: right;
  font-size: 18px;
  color: $color-primary;
  padding-top: 20px;
}
.notes .value{
  color: $color-primary;
}
.tutorials .value{
  color: $color-primary;
}

/* Thank You */

.thank-you{
  padding-top: 30px;
}

/* Footer */

#footer{
  font-size: 14px;
  font-family: $type-main;
  padding-top:40px;
  padding-left: 20px;
  padding-right:100px;
}

#no-grid-padding{
  padding:0px;
  margin:0px;
}
