// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/global";

.notes-content{

	background: $color-tertiary-light;
	min-height: 100vh;
	color: white;

}

#notes-page{
	.notes-link{
		color: $color-primary;
	}
}

.notes-container{
	padding-bottom: 100px;
}

/* Selected Heart */
.ui.heart.rating .icon.selected,
.ui.heart.rating .icon.selected.active {
  background: transparent !important;
  color: $color-primary !important;
  text-shadow: 0px -1px 0px #55abe3, -1px 0px 0px #55abe3, 0px 1px 0px #55abe3, 1px 0px 0px #55abe3 !important;
}

.grid-container{
	margin-top: $filter-height;
}

.new-note-wrapper{
	display: inline-block;
	margin-top: $grid-vertical-padding;

	.new-note-btn{
		margin-top: $grid-vertical-padding;
		margin-left: $grid-gutter-padding;
	}
}