@import "base/global";

.profile-header{
    background: $color-tertiary-dark;
    padding-bottom: 20px;
}

.profile-picture-large{
	border-radius: $profile-radius;
	height:120px;
	width:120px;
	background: $color-primary;	

	margin: 0 auto;
}

.profile-pic{
	padding-top:50px;
		
}
.profile-content {
	padding-top: 20px;
	text-align:center;

    .username{
        h2{
            color: white;
            letter-spacing: 1px;
        }
        padding-bottom: 20px;
    }    

    &.profile-tab-container{
        padding-top: 0px;
    }
}

// Tabs-----------------------------
.profile-tab {
    border-bottom: 1px solid $color-tertiary-med;
    height:50px;
}

div.profile-tab button {
	background-color: inherit;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    margin-left: 20px;
    margin-right: 20px;
}

div.profile-tab button:hover {
	 opacity: 0.7;
}

div.profile-tab button.selected {
	border-bottom: 2px solid $color-primary;
}

.profile-tab-content {
    padding: 6px 12px;
    padding-top: 20px;
    border-top: none;
}

//------------------------------
.grid-container {
    margin-bottom: 60px;
}

.profile-progress-box {
    background: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    &:hover {
        border-style: dashed;
        border-width: 1px;
        border-color: grey;
    }
}

.profile-progress-box-header {
    width: 120px;
    margin: 0;
    color: $color-primary;
    font-weight: bold;
    font-size: 1.6rem;
}

.profile-progress-box-percent {
    @extend .profile-progress-box-header;
    color: $color-secondary-1;
    border-left: 2px solid #e2e2e2;
}