@import "base/global";

.profile-picture-large{
	border-radius: $profile-radius;
	height:120px;
	width:120px;
	background: $color-primary;	

	margin: 0 auto;
}

.profile-pic{
	padding-top:50px;
		
}
.profile-content {
	padding-top: 20px;
	text-align:center;
}

// Tabs-----------------------------
.profile-tab {
    border-bottom: 1px solid $color-tertiary-med;
    height:50px;
}

div.profile-tab button {
	background-color: inherit;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    margin-left: 20px;
    margin-right: 20px;
}

div.profile-tab button:hover {
	 opacity: 0.7;
}

div.profile-tab button.selected {
	border-bottom: 2px solid $color-primary;
}

.profile-tab-content {
    padding: 6px 12px;
    padding-top: 20px;
    border-top: none;
}

//------------------------------