// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/global";

/*.skill-bottom-box {
	height: 150px;
	width: 450px;
	border: 1px solid #E9E9E9;
	position: absolute;
	background-color: white;
	left: 50%;
	-webkit-transform: translateX(-50%);
	box-shadow: $shadow;

	h4{
		text-align: center;
		margin: 15px;
	}
}*/

h4 {
	text-align: left;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.4rem;
}

#skills-page{
	.skills-link{
		color: $color-primary;
	}
}

.container{
	min-height: calc(100vh - #{$nav-height});
}

.container.skills-container{
    //padding-top: $nav-height;
   // background-image: url('/assets/actionshot2.jpg');
   background: smokegrey;
}

.tab-content-custom.toggleOff {

	.skill-pop-up{
		display: none;
	}

	.skill-hide-when-toggle{
		display: block;
	}
}

.tab-content-custom{
	.skill-pop-up{
		display: block;
	}

	.skill-hide-when-toggle{
		display: none;
	}
}

.skills-tab-content {
	background: white;
	border-radius: 10px;
	margin-bottom: 40px;
	border: 1px solid #e2e2e2;
}

.spacing {
	height: 10px;
}

.skill-block {
	height: 150px;
	width: 100%;
	position: relative;

	.skill-box {
		height: $skill-circle-size;
		width: $skill-circle-size;
		position: absolute;
		bottom: 0px;
		left: 50%;
	}

	.skill-circle {
		position: absolute;
		display: flex;
	    align-items: center;
	    justify-content: center;
		cursor: pointer;

		width: $skill-circle-size;
		height: $skill-circle-size;

		padding: 5px;
		border-radius: 50%;
		background-color: $color-primary;
		border: 2px solid $color-primary;
		background-clip: content-box;

		text-align: center;
		font-size: 25px;
		font-weight: bold;
		color: #fffff0;

		transition: all 0.2s ease;

		&:hover{
			padding: 10px;
		    color: $color-primary;
		}
	}

	.skill-circle.complete-circle {
		background-color: $color-secondary-2;
		border: 2px solid $color-secondary-2;

		&:hover{
			padding: 10px;
				color: $color-secondary-2;
		}
	}

	.skill-circle.in-progress-circle {
		background-color: $color-secondary-1;
		border: 2px solid $color-secondary-1;

		&:hover{
			padding: 10px;
				color: $color-secondary-1;
		}
	}

	.skill-name {
		position: absolute;
		height: 100%;
	    display: flex;
	    align-items: center;

		font-size: 20px;
		font-weight: bold;
		text-align: right;

		h4{
			color: #54595e;
		}
	}

	.skill-pop-up {

		position: absolute;
		left: 50%;
	    top: 50%;
	    z-index: 100;
			margin-top: -5px;

		border: 1px solid #e2e2e2;
		border-radius: 10px;
		width: 160px;
		background-color: white;
		font-size: 20px;
		color: #494949;
		padding: $skill-spacing;

		&:hover {
			border: 1px dashed grey;
		}

		h4{
			padding: 0;
		}

		h2.skill-percent {
			margin-top: -5px;
			font-size: 40px;
			color: $color-secondary-1;
		}

		p.skill-submit {
			position: absolute;
			bottom: 10px;
			font-size: 0.7rem;
		}

		.skill-click {
			position: absolute;
			top: $skill-spacing;
			height: calc(100% - #{$skill-spacing} - #{$skill-spacing});
			width: 55px;
			background-color: $color-primary;
			border: 1px solid $color-tertiary-light;
			cursor: pointer;

			display: flex;
		    align-items: center;
		    justify-content: center;

			color: white;
			font-size: 40px;
		}
	}



	.timeline-bar {
		height: 90px;
		width: 1px;
		background-color: #bebebe;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		z-index: 0;
	}
}

.skill-block:first-child{
	.timeline-bar{
		display: none;
	}
}

.skill-block:nth-of-type(even) {
	.skill-box {
		-webkit-transform: translateX(calc(-100% + 30px));
	}

	.skill-circle {
		right: 0px;
		bottom: 0px;
	}

	.skill-name {
		right: 75px;
		text-align: right;

		&.skill-pop-up {
			padding-right: 5px;
		}
	}

	.skill-progress-label {
		color: #a0a0a0;
		float: left;
		margin-top: 20px;
		text-align: left;
		margin-left: 75px;
	}

	.skill-click{
		left: $skill-spacing;

		.fa-chevron-right{
			display: none;
		}
	}

	.skill-pop-up{
		-webkit-transform: translateX(30%);
				transform: translateX(30%);

		h2, h4, p{
			text-align: left;
		}

		p.skill-submit{
			right: $skill-spacing;
		}
	}
}

.skill-block:nth-of-type(odd) {
	.skill-box {
		-webkit-transform: translateX(-30px);
	}
	.skill-circle {
		bottom: 0px;
	}

	.skill-name {
		margin-left: 45px;
		left: 30px;
		text-align: left;
	}

	.skill-progress-label {
		color: #a0a0a0;
		margin-top: 20px;
		float: right;
		text-align: right;
		margin-right: 75px;
	}

	.skill-click{
		right: $skill-spacing;

		.fa-chevron-left{
			display: none;
		}
	}

	.skill-pop-up{
		-webkit-transform: translateX(-130%);
				transform: translateX(-130%);

		h2, h4, p{
			text-align: right;
		}
	}
}

.class-progress-bar-outer{
	height: $progress-height;
    width: 100%;
    background: $color-primary;
    border-radius: 50px;
    padding: $progress-spacing;
    margin-top: 5px;

    #progress-circle-initial, #progress{
    	height: 100%;
    	background: white;
    	border-radius: 50px;
    }

    #progress-circle-initial{
    	position: absolute;
    	height: $progress-height - 2 * $progress-spacing;
    	width: $progress-height - 2 * $progress-spacing;
    }

}

.skills-in-progress {
	position: relative;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 18px;
	height: 100px;

	.item {
		height: $skill-circle-size;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.skill-circle {
		float: left;
		margin-left: 16px;
		display: flex;
	    align-items: center;
	    justify-content: center;
		cursor: pointer;

		width: $skill-circle-size;
		height: $skill-circle-size;

		padding: 5px;
		border-radius: 50%;
		background-clip: content-box;

		text-align: center;
		font-size: 25px;
		font-weight: bold;
		color: #fffff0;

		transition: all 0.2s ease;

		background-color: $color-secondary-1;
		border: 2px solid $color-secondary-1;

		&:hover{
			padding: 10px;
				color: $color-secondary-1;
		}
	}

	.skill-info {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 90px;
		margin-right: 15px;

		.skill-percent {
			color: $color-secondary-1;
		}

		.skill-name {
			height: 100%;
		    display: flex;
		    align-items: center;

			font-size: 20px;
			font-weight: bold;
			text-align: left;

			h4{
				color: #54595e;
			}
		}

		.skill-progress-bar-outer{
			height: $skill-progress-height;
		    width: 100%;
		    background: $color-secondary-1;
		    border-radius: 50px;
		    padding: $progress-spacing;
		    margin-top: 5px;

		    #progress-circle-initial, #progress{
		    	height: 100%;
		    	background: white;
		    	border-radius: 50px;
		    }

		    #progress-circle-initial{
		    	position: absolute;
		    	height: $skill-progress-height - 2 * $progress-spacing;
		    	width: $skill-progress-height - 2 * $progress-spacing;
		    }

		}
	}
}

#all-skills-header {
	margin-top: 10px;
}

#start-skill-text {
	font-size: 18px;
	color: #a0a0a0;
	margin-bottom: 28px;
}
