@import "base/global";

.skill-page-wrapper{
	margin: $skill-side-spacing 0;
}

.skill-carousel{



}

.carousel-nav{
	position: fixed;
	z-index: 100;
    top: 50%;
    -webkit-transform: translateY(-50%);
    		transform: translateY(-50%);
    display: flex;
    justify-content: center;
    width: $skill-side-spacing;

    &.side-left{
    	left: 0;
    }

    &.side-right{
    	right: 0;
    }
}

.skill-module{

	box-sizing: border-box;
	background-color: white;
	border: 1px solid $color-tertiary-light;
	margin: 0 $skill-side-spacing;
	border-radius: $item-border-radius;

}

.skills-content{
	padding: $skill-spacing;
}

.skills-title{
	font-size:24px;
}

progress{
	//background-color:$color-primary;
}

.skills-progress-bar{
	float:right;
	position:fixed;
	bottom:80px;
	right:0;

	// make vertical
	-webkit-transform: rotate(270deg);
			transform: rotate(270deg);
}

.skills-content.box{
	background-color:white;
	min-height:100px;
	width: 100%;

	margin-top:20px;
	margin-right:100px;

	border-style:solid;
	border-color:$color-tertiary-dark;
	border-width:1px;
	border-radius:5px;
}

