@import "base/global";

.container.skills-container-item, .container.skills-container{

	background-size: cover;
	background-position: 50% 50%;
	
	overflow-y: scroll;
}

.container.skills-container-item{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/skill-bg.jpg');
}


.skill-page-wrapper{
	margin: $skill-side-spacing 0;
}

.skill-carousel{

}

.carousel-nav{
	position: fixed;
	z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    		transform: translateY(-50%);
    display: flex;
    justify-content: center;
    width: $skill-side-spacing;

    &.side-left{
    	left: 0;
    }

    &.side-right{
    	right: 0;
    }
}

.skill-module{

	box-sizing: border-box;
	background-color: white;
	border: 1px solid $color-tertiary-light;
	margin: 0 $skill-side-spacing;
	border-radius: $item-border-radius;

}

.skills-content{
	padding: $skill-spacing;
}

.skills-title{
	font-size:24px;
}

/*carousel stuff*/
.slick-arrow{
	border-radius: 50% !important;
    border: 2px solid white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;

    width: 50px;
    height: 50px;
    font-size: 20px;

    &:hover{
    	background-color: $color-primary !important;
    }

    .chevron{
        color: white;
    	margin: 0;
    }
}

.radio-skill {
	line-height: 150%;
}
