
//base colors

$color-primary: #007cb0;	//blue
$color-secondary-1: #ffd161; 	//yellow
$color-secondary-2: #37b4ac;	//green


$color-tertiary-light: #f3f3f3;
$color-tertiary-dark: #444444;


//derived colors

