

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover{

	background: rgba(0, 0, 0, 0);
}



//what are these???
.notice, .alert{
	display: none;
}

//homepage
.ui.page.grid{
	margin: 0px;
}

.ui.center.aligned.grid{
	margin: 0px;
}

.sixteen.wide.column{
	padding: 0px !important;
}


//buttons
.ui.compact.menu{
	box-shadow: none;
    border-radius: 0px;
}

.override-button{
	background: none;
    box-shadow: none !important;
    background-color: rgba(0,0,0,0) !important;
    background-image: none !important;
    border-radius: 0;
    text-shadow: none !important;
    font-weight: normal;
    i{
    	text-shadow: none;
    }
}

button.reset, input.reset{
	@extend .override-button;

    &:hover, &:active{
    	@extend .override-button;
    }
}


