
// Typography //

$type-main: 'Lato', sans-serif;
$type-small: 14px;


// Breakpoints //

$bp-mobile: 800px;


// Transitions //

$transition-duration: 0.2s;
$transition-ease: ease;


// Nav bar //
$nav-width: 50px;
$nav-height: 80px;
$nav-spacing: 10px;
$shadow: 0px 1px 4px 0 rgba(34, 36, 38, 0.3);
$profile-size: 30px;
$profile-shadow: 0px 0px 1px 2px rgba(34, 36, 38, 0.15);
$profile-radius: 100%;


// Grid //

$grid-width           : 1200px !default;
$grid-sm-breakpoint   : 768px !default;
$grid-md-breakpoint   : 1200px !default;
$grid-lg-breakpoint   : 1800px !default;

$grid-gutter-padding  : 10px !default;
$grid-vertical-padding: 10px !default;

$grid-item-height     : 200px;
$item-border-radius   : 3px;

// filter //
$filter-height: 60px;


// Card //

$card-spacing: 20px;
$card-side-width: 30px;

// Modal //
$modal-spacing: 30px;
$modal-spacing-less: 15px;

// Mentors Menu //
$mentors-menu-width: 280px;



// skills //
$skill-spacing: 10px;
$skill-circle-size: 60px;










