<div class="skills-content">
	<div class="dark-small-subheader skills-title">Skill Name</div>
</div>

<div class="skills-content">
	<div class="dark-small-subheader">Concept</div>
	<div class="skills-content box">

	</div>

</div>

<div class="skills-content">
	<div class="dark-small-subheader">Example</div>
	<div class="skills-content box">

	</div>
</div>

<div class="skills-content">
	<div class="dark-small-subheader">Practice</div>
	<div class="skills-content box">

	</div>
</div>

<div class="skills-progress-bar">
	<progress value="22" max="100">
	</progress>
</div>