
<div class="skills-tab-content">
    <% for i in 0..9 do %>
        <div class="skill-block tab-content toggleOff" id="item-<%= i =%>">
            <div class="skill-box"> 
                <div class="skill-circle tab" id="tab-<%= i =%>">A</div>
                <div class="skill-hide-when-toggle">
                    <div class="skill-name">
                        <h4>Arrays</h4>
                    </div>
                </div>
            </div>
            <div class="skill-pop-up">
                <h4>Arrays</h4>
                <h2 class="skill-percent">65%</h2>
                <p class="skill-submit">Submitted by John Doe, UPE</p>
                <div class="skill-click"><i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
            </div>
            <% if i > 0 %>
                <div class="progress-bar">
                </div>
            <% end %>
        </div>
    <% end %>
</div>