@import "base/global";

.header-skill-show{
	position: absolute;
	
	.navbar{
		height: 30px;
	}

	.logo{
		height: 20px !important;
	}

	.profile-modal{
		top: 60px;
	}
}

//.header-skill-wrapper{

	.header{
		position: fixed;
		z-index: 24;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 30px;
		height: $nav-height;
		width: 100%;
		background-color: white;
		box-shadow: $shadow;
	}

	.progress-bar{
		height: $progress-height;
	    width: 80%;
	    background: $color-primary;
	    border-radius: 50px;
	    padding: $progress-spacing;

	    #progress-circle-initial, #progress{
	    	height: 100%;
	    	background-color: white;
	    	border-radius: 50px;
	    }

	    #progress-circle-initial{
	    	position: absolute;
	    	height: $progress-height - 2 * $progress-spacing;
	    	width: $progress-height - 2 * $progress-spacing;
	    }
	}
//}