@import "base/global";


.hide-soft{
  opacity: 0;
}

.mentor-wrapper{
  transition: all 0.3s ease;
}

.open_navbar{

  .open-chat-btn{

    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    height: 48px;
    background: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 0px;
    color: white;

    transition: transform 0.1s ease;

    &:hover{
      transform: translateX(-10px);
    }

  }

}


//////////////////////////////////////
/* SIDEBAR */
//////////////////////////////////////


.use-sidebar #sidebar{
  width: $mentors-menu-width;
  height:100vh;
  position: fixed;
  transform: translateX(calc(100vw - #{$mentors-menu-width}));
}
.container.use-sidebar{
  width: calc(100vw - #{$mentors-menu-width});
  height: 100vh;
  position: fixed;
}
.filter-area.use-sidebar{
  width: calc(100vw - #{$mentors-menu-width});
}
.remove-mentors-menu{
  float: right;
  cursor: pointer;
}
.open_navbar{
  position: fixed;
  right: 0;
  margin-right: 6px;
  margin-top: 6px;
  z-index: 10;
}
.open_navbar.remove-button{
  display: none;
}



////////////////////////////////////////////////
/*
* menu default listview
*
* view toggled chatview #sidebar.chatview
* in chat.scss
*/
///////////////////////////////////////////////

//mentor listview
#sidebar{

  overflow: scroll !important;
  height: 100%;
  position: fixed;
  z-index: 3;
  transform: translateX(100vw);
  transition: .3s ease;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  padding-bottom: 100px;

  &.show-modal{
    overflow: visible !important;
  }

  .nav_title{
    background-color: $color-primary;
    color: white;
    font-family: $type-main;
    padding: 10px;
    font-size: 1rem;

    &.list_show{
      display: block;
    }

    &.chat_select_show{
      display: none;

      .back{
        cursor: pointer;
        & > *{
          pointer-events: none;
        }
      }

    }

  }

  .chatbox{
    display: none;
  }

}

//////////////////////////////////////
/*modal*/
//////////////////////////////////////


.mentor-trigger-modal{
  cursor: pointer;
  color: #3f3f3f;
  padding: 15px 10px;
  font-size: 1rem;
  border-top: 1px solid $color-tertiary-light;

  &:hover{
    background-color: $color-tertiary-light;
  }

  //prevent click event from capturing child element as event target
  & > *{
    pointer-events: none;
  }
}

.mentor-trigger-modal.remove{
  opacity: 0;
}
.mentor_pic{
  float: left;
}
.mentor_name{
  padding-top: 5px;
  padding-left: 12px;
  font-family: $type-main;
  display:inline-block;
  font-size: 1rem;
}
.mentor_rating{
  padding-top: 5px;
  color: $text-color-light;
  font-size: 0.8rem;
  font-family: $type-main;
  float: right;
  margin-right: 12px;
}
.large.street.view.icon{
  padding: 0px 0px 0px 10px;
  text-align: center;
}

.modal-mentor-modal {
  width: 50%;
}

/* Accept Chat Mentor */

.modal-container.mentor-modal-container{
  //super hacky but will do for now
  width: 100vw;
  height: 100vh;
  left: $mentors-menu-width;
  -webkit-transform: translate(-100%, -$nav-height);
          transform: translate(-100%, -$nav-height);
}

.modal_mentor_name, .modal_mentor_rating{
  text-align: center;
  width: 100%;

  h2, h4{
    text-align: center;
  }
}
.modal_mentor_rating h4{
  font-size: 0.8rem;
  color: $text-color-light;
}
.modal_mentor_bio{
  max-width: 250px;
  padding-top: 5px;
  margin: auto;
  padding-bottom: 10px;
  font-size: 1rem;
  color: #606060;
  display: flex;
  justify-content: center;
}

.chat_modal{
  margin-top: $modal-spacing;
}

.modal_mentor_char{
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  letter-spacing: 0.1em;
}
.modal_mentor_pic{
  margin: auto;
  margin-bottom: 10px;
  align-items:center;
  max-width: 85px;
  max-height: 85px;
}
.modal_mentor_remove{
  float: right;
  display: block;
}

.mentor-modal-container{

  .modal-field-content{
    margin-top: 0px;
    margin-bottom: $modal-spacing;
  }

  .rate-modal-accept {
    width: 100%;
  }
}


@media screen and (max-width:450px){
  .use-sidebar #sidebar{
    width: 100vw;
    transform: translateX(0);
  }
}

.chat{
  height: calc(100vh - 240px);
}

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 10px 0; // finality
  height: calc(100vh - 250px);
  overflow:auto;
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
    }
  }
}
.messages {
  background: white;
  padding: 8px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  border-radius: 8px;
  p {
    font-family: $type-main;
    font-size: 0.9rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.8rem;
    color: #ccc;
  }
}


.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
  .messages{
    border-top-left-radius: 0;
  }
}
.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0;
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2);
    }
  }
  time{
    float: right;
  }
}

textarea{
  outline: none;
  resize: none;
  overflow: auto;
}
.discussion .avatar img{
  display: block;
  height: 30px;
  width: 30px;
}

$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: $color-primary;

.modal-rate-mentor {
  display: flex;
  justify-content: space-between;
}
.star-cb-group {
  /* remove inline-block whitespace */
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  * {
    font-size: 2.5rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;

  & > input {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1.4em;
      height: 1.5em;
      padding-top: 10px;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
      content: $checked-star;
      color: $color-primary;
      text-shadow: 0 0 1px #333;
    }
  }

  /* the hidden clearer */
  & > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  & > .star-cb-clear + label:before {
    width: .5em;
  }

  &:hover > input + label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
  }
  &:hover > input + label:hover ~ label:before,
  &:hover > input + label:hover:before {
    content: $checked-star;
    color: $checked-color;
    text-shadow: 0 0 1px #333;
  }
}
