@import "base/global";

/* SIDEBAR */
#sidebar{
  height: 100%;
  position: fixed;
  z-index: 3;
  transform: translateX(100vw);
  transition: .3s ease;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
.use-sidebar #sidebar{
  width: 270px;
  transform: translateX(calc(100vw - 270px));
}
.whole_page_container.use-sidebar{
  width: calc(100vw - 270px);
}
.remove-mentors-menu{
  float: right;
  cursor: pointer;
}
.open_navbar{
  position: fixed;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 10;
}
.open_navbar.remove-button{
  display: none;
}
.nav_title{
  font-family: $type-main;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
.mentor-trigger-modal{
  cursor: pointer;
  color: #3f3f3f;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 15px;
}
.mentor_pic{
  float: left;
  max-width: 50px;
  max-height: 50px;
}
.mentor_name{
  padding-top: 12px;
  padding-left: 12px;
  font-family: $type-main;
  display:inline-block;
  font-size: 15px;
}
.mentor_rating{
  padding-top: 12px;
  font-family: $type-main;
  float: right;
  font-style: italic;
  margin-right: 12px;
}
.large.street.view.icon{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  text-align: center;
}

@media screen and (max-width:450px){
  .use-sidebar #sidebar{
    width: 100vw;
    transform: translateX(0);
  }
}
