@import "base/global";

body.locked{
	overflow: hidden;
}

.hide{
	display: none;
}

.modal-container{

	z-index: 128;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	.overlay{
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba($color-tertiary-dark, 0.5);
	}

	&.sidebar-view{
		top: $nav-height;
		height: calc(100% - #{$nav-height});
		width: calc(100% - #{$mentors-menu-width});
	}
}

.login-modal, .new-note-modal, .sign-up-modal, .edit-profile-modal{
	width: 400px;
}


.modal{
	z-index: 140;
	position: absolute;
	background: white;
	box-shadow: $shadow;
	padding: $modal-spacing;
	border-radius: $item-border-radius;

	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

	.submit input:hover{
		background: $color-primary !important;
	}

}

.modal-header{
	.title{
		display: flex;
		justify-content: center;
		img.icon{
			height: 25px;
		}

		i{
			color: $color-primary;
		}
	}
	.signup-link{
		font-size: $type-small;
		text-align: center;
		a{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.modal-header.table{
	display:table;
}

.required{
	position: absolute;
    left: -8px;
    color: $color-primary;
}


.modal-field-content{

	margin-top: $modal-spacing-less;

	.field{
		input:focus{
			outline: none !important;
		}
	}
	.chat_modal{
		text-align: center;
	}

}

.modal-field-content.padded{
	padding-bottom: 10px;
}

.submit{

	padding: $modal-spacing-less 0;
	.login-submit, {
		height: 40px;
		width: 100%;
		color: white !important;
		transform-text: uppercase;
		background-color: $color-primary !important;

		&:hover{
			color: white;
			background-color: $color-primary;
		}
	}

}

.password-reset-link{
	font-size: $type-small;
	text-align: center;

	h4{
		float: left;
	}
}

.bottom-submit {
	margin-left: 10px;
	margin-right: 10px;
}

.save-progress-buttons {
	margin-top: 20px;
	display: flex;
    align-items: center;
    justify-content: center;
	& > *{
		display: inline-block;
	}
	h4{
		margin-top: 10px;
	}
}