@import "base/global";

////////////main navbar////////////

header{
	height: $nav-height;
}

.navbar {

	height: $nav-height;
	box-sizing: border-box;
	padding: 0 100px !important;

	.item {
		
		span{
			font-size: 1rem;
			letter-spacing: 1px;
		}

		&:hover{
			background: white;
		}
	}

	.login{
		padding: 10px;
	}

}

.navbar-main{
	padding: $nav-spacing $nav-spacing * 2;
}


/////////////Profile Dropdown/////////////////

#profile-btn{
	border-radius: $profile-radius;
	height: $profile-size;
	width: $profile-size;
	background: $color-primary;
	position: relative;
}

.bg-image{
	background-size: cover !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
}

#profile-picture{
	border-radius: $profile-radius;
	height: 50px;
	width: 50px;
	background: $color-primary;
}

.profile-modal{
	width: 200px;
}

.profile{
	position: absolute;
	background: white;
	box-shadow: $profile-shadow;
	padding: $modal-spacing;
	//border-radius: $item-border-radius;
	right: 103px;
	top: $nav-height;
	margin-top: -10px;
}


.profile-item {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 300%;
	text-transform: uppercase;
}

.username{
	margin-right: $nav-spacing;
}

.profile-item.short {
	line-height:200%;
}

.profile-item.table {
	width:30px;
	display:table-cell;
}

.profile-item.right{
	float:right;
}

.profile-arrow-up {
	z-index: 140;
	position: absolute;
    z-index: -1;
    top: 0px;
    right: 25px;

    height: 20px;
    width: 20px;
    -webkit-transform: rotate(45deg) translateY(-50%);
    		transform: rotate(45deg) translateY(-50%);

    background: white;
    box-shadow: $profile-shadow;

}

.profile-arrow-up.no-shadow{
	z-index: 12;
	box-shadow: none;
}


/////////////////////////////////////////////

.btn-main{
	color: white;
	background: $color-primary;
	border-radius: $item-border-radius;
	cursor: pointer;
	padding: 10px 14px;;

	&:hover{
		color:white;
		background: $color-primary;
		opacity: 0.9;
	}
}

.logo-wrapper-link{
	display: flex;
	align-items: center;
	cursor: pointer;
	color: $color-primary;

	.logo{
		height: 40px;
	    position: absolute;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    		transform: translateX(-50%);
	}

}

.navbar-chevron{
  color: $color-tertiary-dark !important;
}

////////////mobile////////////

#chevron{
	color: $color-tertiary-dark;
}

.ui.navbar{
	font-size: 18px;
	border: none;
	font-family: $type-main;
}

.ui.vertical.menu{
	width: 100%;
	height: auto;
	display: none;
	padding: 20px;

	position:absolute;
	left: 100% !important;
	top: 0% !important;
	-webkit-transform: translate(-100%, 0%);
			transform: translate(-100%, 0%);

	.menu{
		padding: $nav-spacing;
		background: white;

		.item{
			margin: 10px 0px;
		}
	}
}

#mobile-menu{
	display: none;
}

@media (max-width: $bp-mobile) {

	.navbar{
		padding: 0 !important;
	}

  	.ui.grid.main{
  		margin-top: $nav-height;
	}
	.ui.vertical.menu.navbar{
		margin-top: $nav-height !important;
	}

	.logo-wrapper-link{
		display: flex !important;
		margin-left: $nav-spacing * 2;
		a{
			margin-left: 60px;
		}
	}

}
