@import "base/global";

.new-note-modal-container{

	.title i{
		font-size: 28px;
	}

	.submit{
		width: 100%;
	}

	.dropdown-selected{
		padding: 13px 16px;
    	box-sizing: border-box;
    	width: 100%;
    	text-overflow: ellipsis;
    	overflow: hidden;
    	white-space: nowrap;
	}



}

//<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'ui form' }) do |f| %>