// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$import-google-fonts: false;
@import "semantic-ui";
@import "slick";
body{
  background-color: white;
}

.header{
  font-size: 100px;
  font-weight: lighter;
  padding: 0px;
}
.download{
  float: right;
  display: inline;
}
.date{
  color:black;
}
h1{
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #f5f5f5;
  padding-top: 35px;
  letter-spacing: .05em;
  font-size: 6vh;
}

h4{
  color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
  padding-bottom: 5px;
  font-size: 2.5vh;
}


footer {

}

p {
	font-family: 'Lato', 'Arial';
	font-size: 18px;
}

h1 {
	font-family: 'Lato', 'Arial';
	color: white;
	font-weight:300;
	letter-spacing: 1px;
}

.container {
	background: white;
	padding-bottom: 100px;
	padding-top: 20px;
}


.ui.menu{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 18px;
	border: none;
	font-family: 'Lato', 'Arial';
	/* For shadow under navbar */
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);

}

.grid.yellow.background{
	background-color: #ffd161;
	padding-top:120px;
	padding-bottom:30px;
}

.grid.green.background{
	background-color: #37b4ac;
}

.grid.blue.background{
	background-color: #007cb0;
}

/* Navbar */

.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  	.ui.grid.main{
  		margin-top: 70px;
	}
	.ui.vertical.menu.navbar{
		margin-top: 70px !important;
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}

.ui.menu.shadow{
	/* For shadow under navbar */
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
}

/* NOTES CARDS */
.ui.card:first-child {
  margin: 1em 0em;
  margin-left: 15px;
  margin-right: 15px;
}
.ui.card{
  margin-left: 15px;
  margin-right: 15px;
}
.button_wrapper{
  margin-top: 70%;
}
