// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$import-google-fonts: false;
@import "semantic-ui";
@import "slick";
@import "base/vars";
@import "base/colors";

body{
  background-color: white;
}

.header{
  font-size: 100px;
  font-weight: lighter;
  padding: 0px;
}

footer {
	padding-top: 20px;
	padding-bottom: -25px;
	color: $color-tertiary-dark;
}

.download{
  float: right;
  display: inline;
}

.date{
  color:black;
}

h1{
  font-family: $type-main;
  text-align: center;
  font-weight: bolder;
  color: $color-tertiary-dark;
  padding-top: 35px;
  font-size: 6.5vh;
}

h2 {
  font-family: $type-main;
  text-align: center;
  color: $color-tertiary-dark;
  letter-spacing: .05em;
  font-size: 6.5vh;
  margin-bottom: -25px !important;
}

h3 {
  color: $color-tertiary-dark;
  font-family: $type-main;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
  font-size: 4vh;
  margin-bottom: 40px !important;
}

h4{
  color: $color-tertiary-dark;
  font-family: $type-main;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
  padding-bottom: 5px;
  font-size: 2.5vh;
}

h5 {
  color: $color-tertiary-dark;
  font-family: $type-main;
  text-align: center;
  letter-spacing: .05em;
  font-size: 3vh;
  margin-bottom: -25px !important;
}

h6 {
  color: $color-tertiary-dark;
  font-family: $type-main;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
  font-size: 2.5vh;
  margin-bottom: 15px !important;
  line-height:130%;
}

p {
	font-family: $type-main;
	font-size: 18px;
}

.container {
	background: white;
	padding-bottom: 100px;
	padding-top: 20px;
}

.main-block-text > *{
  color: white;
}

/* NOTES CARDS */
.ui.card:first-child {
  margin: 1em 0em;
  margin-left: 15px;
  margin-right: 15px;
}
.ui.card{
  margin-left: 15px;
  margin-right: 15px;
  max-height: inherit;
  object-fit: contain;
}
.button.prev-tut{
  background-color: rgba(255,255,255,0.7);
}
.button.next-tut{
  background-color: rgba(255,255,255,0.7);
}

.button.prev:hover{
  background-color: rgba(255,255,255,0.9);
}

.button.next:hover{
  background-color: rgba(255,255,255,0.9);
}

.button_wrapper{
  margin-top: 70%;
}

.notes-header h1{
  font-size: 6.5vh;
}
.notes-header h4{
  font-size: 3vh;
}

.notes{
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #007cb1;
}

.tutorials-header h1{
  font-size: 6.5vh;
}
.tutorials-header h4{
  font-size: 3vh;
}

.tutorials{
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #8b96da;
}

.meta{
  padding-top: 4px;
  color: #474747;

}
.upvotes {
  padding-top: 10px;
  color: #ff6666;
}

.likes{
  color: #8b96da;
  padding-top: 10px;
  font-size: 17px;
}
