@import "base/global";

body.locked{
	overflow: hidden;
}

.modal-container.hide{
	display: none;
}

.modal-container{

	z-index: 128;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	
	.overlay{
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba($color-tertiary-dark, 0.5);
	}
}

.login-modal, .new-note-modal, .sign-up-modal{
	width: 400px;
}

.profile-modal{
	width: 200px;
}

.modal{
	z-index: 140;
	position: absolute;
	background: white;
	box-shadow: $shadow;
	padding: $modal-spacing;
	border-radius: $item-border-radius;

	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

}

.profile{
	z-index: 140;
	position: absolute;
	background: white;
	box-shadow: $profile-shadow;
	padding: $modal-spacing;
	border-radius: $item-border-radius;
		
	left: 97%;
	top: 20%;
	-webkit-transform: translate(-97%, -20%);
		transform: translate(-97%, -20%);

	.item {
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.profile-arrow-up {
	z-index: 140;
	position: absolute;

	left: 81%;
	top: 0%;
	-webkit-transform: translate(-0%, -81%);
		transform: translate(-0%, -81%);

	//Make into triangle
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  
    border-bottom: 10px solid white;
}

.modal-header{
	.title{
		display: flex;
		justify-content: center;
		img.icon{
			height: 25px;
		}

		i{
			color: $color-secondary-1;
		}
	}
	.signup-link{
		font-size: $type-small;
		text-align: center;
		a{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}


.modal-field-content{

	margin-top: $modal-spacing-less;

	.field{
		input:focus{
			outline: none !important;
		}
	}

}

.submit{

	padding: $modal-spacing-less 0;
	.login-submit, {
		height: 40px;
		width: 100%;
		color: white !important;
		transform-text: uppercase;
		background-color: $color-secondary-1 !important;

		&:hover{
			color: white;
			background-color: $color-secondary-1;
		}
	}

}

.password-reset-link{
	font-size: $type-small;
	text-align: center;
}

