// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/global";

.search-area {
	margin-left: 10%;
	padding-top: 25px;
}

.input-area {
	align-items: center;
	align-content: center;
	height: 75px;
	width: 85%;
}

.filter-area {
	margin-left: 10%;
	padding-top: 20px;
}

.notes-content{

	background: $color-tertiary-light;
	min-height: 100vh;
	color: white;

}


.grid-notes{

	.col{
		height: $grid-item-height;
	}

	.card.grid-item{
		height: 100%;
		max-width: 100%;
		background: $color-tertiary-light;
		margin: $grid-gutter-padding 0;
		border-bottom: $card-bottom solid $color-primary;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: all $transition-duration $transition-ease;

		.title{
			font-size: 14px;
		}

		.more.icons{
			opacity: 0;
			display: none;
			transition: opacity $transition-duration $transition-ease;
			color: white;
		}

		&:hover{
			.title{display: none;}
			.more.icons{
				display: block;
				opacity: 1;
			}
			border-bottom: calc(#{$grid-item-height} - #{$grid-gutter-padding} - #{$grid-gutter-padding}) solid $color-primary;
		}
	}

}
