@import "base/global";

.profile-picture-large{
	border-radius: $profile-radius;
	height:120px;
	width:120px;
	background: $color-primary;	

	margin: 0 auto;
}

.profile-pic{
	padding-top:50px;
		
}
.profile-content {
	padding-top: 20px;
	text-align:center;
}