<div class="profile-header">
  <div class="profile-content">
      <div class="profile-picture-large bg-image" style="background-image: url(<%= @user.image %>)"></div>
  </div>
  <div class="profile-content">
    <div class="username uppercase">
      <h2><%= @user.username %></h2>
    </div>
    <a class="item edit-profile-trigger-modal" >
        <span class="profile-item btn-main">Edit Profile</span>
    </a>
  </div>
</div>

  <div class="profile-content profile-tab-container">
  <!-- tabs -->
    <div class="profile-tab">
        <button class="reset profile-tab-links tab selected" id="tab-1">Profile</button>
        <button class="reset profile-tab-links tab" id="tab-2">Skills</button>
        <button class="reset profile-tab-links tab" id="tab-3">Progress</button>
        <button class="reset profile-tab-links tab" id="tab-4">Messages</button>
    </div>

  <!-- tab content -->
    <div id="item-1" class="profile-tab-content tab-content-custom">
      <h3>Profile</h3>
      <p>No skills completed.</p>
    </div>

    <div id="item-2" class="profile-tab-content tab-content-custom hide">
      <h3>Skills</h3>
      <p>No skills added.</p>
    </div>

    <div id="item-3" class="profile-tab-content tab-content-custom hide">
      <h3>Progress</h3>
      <p>No course tracks added.</p>
    </div>

    <div id="item-4" class="profile-tab-content tab-content-custom hide">
      <h3>Messages</h3>
      <p>No conversations started.</p>
    </div>
  </div>
