<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb20c96418.js"></script>
  </head>
<body>

  <div class="grid background">
    <div id="profile-picture-large"></div>
    <div class="dark-secondary positioned"><%= User.find_by(id: current_user.id).username %></div>
    <span class="positioned"><%= link_to "Edit Profile", mentors_index_path, class:"profile-item btn-main"%></span>
    
    <div class="profile-panel positioned2">
            <nav>
              <ul class="profile-tabs-list">
                <li class="profile-tabs-list__tab active profile-tab profile-item"><a href="#">Profile</a></li>
                <li class="profile-tabs-list__tab profile-tab profile-item"><a href="#">Skills</a></li>
                <li class="profile-tabs-list__tab profile-tab profile-item"><a href="#">Progress</a></li>
                <li class="profile-tabs-list__presentation-slider" role="presentation"></li>
              </ul>
            </nav>
            <div class="profile-panel__body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sint, facere aut, mollitia nihil tenetur sed vitae alias dolorum delectus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, earum.</p>
            </div>
          </div>
  </div>
</body>
</html>
