<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb20c96418.js"></script>
  </head>
<body>
  <div class="profile-content">
    <div class="profile-picture-large"></div>
  </div>
  <div class="profile-content">
    <div class="dark-secondary uppercase"><%= User.find_by(id: current_user.id).username %></div>
    <span><%= link_to "Edit Profile", mentors_index_path, class:"profile-item btn-main"%></span>
  </div>
</body>
</html>
