<!-- Header -->
<header class="header-skill-wrapper">
      <div class="header">
        <div class="progress-bar">
        	<div id="progress-circle-initial"></div>
            <div id="progress" style="width: 0%"></div>
        </div>
      </div>
</header>
