<!-- Header -->
<header class="header-skill-wrapper">
      <div class="header">
        <div class="progress-bar">
            <div class="progress" style="width: 50%"></div>
        </div>
      </div>
</header>
