<div class="mentors-menu-container">
  <div class=open_navbar id="open_nav">
    <div class="ui compact button">
      <i class="large street view icon"></i>
      <hr />
      Mentors
    </div>
  </div>
  <div class="menu" id="sidebar">
    <div class="mentors">
      <div class="nav_title">
        MENTORS ONLINE
      </div>
      <hr>
      <div class="item mentor-trigger-modal">
        <div class="mentor_pic">
          <img class="ui circular tiny image" src="/shrink.jpg">
        </div>
        <div class="mentor_name">
          <span>Austin Lee</span>
        </div>
      </div>
      <hr>
      <div class="item mentor-trigger-modal">
        <div class="mentor_pic">
          <img class="ui circular tiny image" src="/shrink.jpg">
        </div>
        <div class="mentor_name">
          <span>Austin Lee</span>
        </div>
      </div>
      <hr>
      <div class="item mentor-trigger-modal">
        <div class="mentor_pic">
          <img class="ui circular tiny image" src="/shrink.jpg">
        </div>
        <div class="mentor_name">
          <span>Austin Lee</span>
        </div>
      </div>
    </div>
  </div>
</div>
